* {
	box-sizing: border-box;
	margin: 0;
}

html, body {
	color: white;
	font-family: sans-serif;
	height: 100vh;
	width: 100vw;
}

body {
	background: rgb(88, 88, 88);
	height: 62.5%;
}

nav {
	align-items: center;
	display: flex;
	height: 5rem;
	justify-content: center;
	width: 100%;
}

section.home {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
	position: absolute;
	top: 0;
	width: 100vw;
}

footer.home {
	bottom: 0;
	padding-bottom: 1rem;
	position: absolute;
	text-align: center;
	width: 100vw;

	img {
		height: 7rem;
		margin-bottom: 2rem;
	}
}

section.rules {
	padding: 0 2rem;
	text-align: justify;

	p {
		margin-bottom: 1rem;
		text-indent: 2rem;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

footer.scoreboard,
footer.stats,
footer.rules {
	display: flex;
	justify-content: center;
}

button {
	background-color: red;
	border: solid 1px grey;
	border-radius: .5rem;
	color: white;
	font-weight: bold;
	margin: 1.5rem 0;
	padding: 1rem 2rem;
}
